<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Restaurant_Otomasyon.Properties.Settings.RestorauntConnectionString"
            connectionString="Data Source=DESKTOP-VAIT1B1\SQLEXPRESS;Initial Catalog=Restoraunt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>